
#curriculum-page-container {
    top: 0px;
    left: 65px;
    right: 50%;
    position: absolute;
    height: 100%;
    bottom: 0px;
    padding-top: 5%;
    padding-left: 10%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    z-index: 3;
    opacity: 0.7;
}
#honor-page-container {
    top: 0px;
    left: 50%;
    position: absolute;
    width: 40%;
    height: 100%;
    bottom: 0px;
    padding-top: 5%;
    padding-left: 10%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    z-index: 3;
    opacity: 0.7;
}