
#contact-page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    width: 30%;
    height: 20%;
    opacity: 0.6;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    z-index: 3;
}

#contact-page-container h1{
    font-size: 40px;
}
#contact-page-container p{
    font-size: 15px;
}
.contacts {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    position: absolute;
}


