
#home-page-container {
    top: 0px;
    position: absolute;
    left: 65px;
    right: 0px;
    height: 100%;
    bottom: 0px;
    opacity: 0.7;
    z-index: 3;
}
#word-cloud-container {
    position: absolute;
    top: 0px;
    height:100%;
    left: 50%;
    right: 0px;
    width: 50%;
    z-index: 3;
    opacity: 0.7;
}
#cloud {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: auto;
}
.home-page-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 100%
}
.home-page-text h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 56px;
}
.home-page-text h2 {
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}