* ::selection{
    background: gray;
}
#nav-bar {
    background-color: rgb(24, 24, 24);
    width: 65px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 3;
    min-height: 500px;
    margin: 0px;
}
#home-page-container {
    top: 0px;
    position: absolute;
    left: 65px;
    right: 0px;
    height: 100%;
    bottom: 0px;
    opacity: 0.7;
    z-index: 3;
}
#canvas {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}
#word-cloud-container {
    position: absolute;
    top: 0px;
    height:100%;
    left: 50%;
    right: 0px;
    width: 50%;
    z-index: 3;
    opacity: 0.7;
}
#cloud {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: auto;
}
.home-page-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 100%
}
.home-page-text h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 56px;
}
.home-page-text h2 {
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.logo {
    background-color: black;
    display: block;
    padding: 8px 0 8px 0;
}
.logo img {
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    width: 65px;
    height: auto;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 30%;
    width: 100%;
    margin: 0;
    top:50%;
    transform: translateY(-50%);
}
@keyframes switch{
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    70% {
        content:url("assets/home-text.ico");
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }

}
.index-link {
    transition: 0.5s ease;
}
.index-link :hover{
    animation: switch 0.5s ease;
}
.about-link :hover{
    content:url("assets/me-text.ico");
}
.skills-link :hover{
    content:url("assets/proj-text.ico");
}
.achievements-link :hover{
    content:url("assets/skill-text.ico");
}
.contact-link :hover{
    content:url("assets/contact-text.ico");
}
.nav-icon {
    width: 32px;
    height: auto;
    display: block;
}
.skills-link img {
    margin-top: 1px;
    margin-bottom: 3px; 
}
