
#skill-page-container {
    top: 0px;
    position: absolute;
    left: 65px;
    right: 0px;
    height: 100%;
    bottom: 0px;
    opacity: 0.7;
    z-index: 3;
}
#project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    top: 0px;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 60%;
    z-index: 3;
    opacity: 0.9;
}
.project {
    background-color:rgb(59, 59, 59);
    display: block;
    height: 30%;
    width: 29.5%;
}
.project a img{
    display: block;
    width: 100%;
    height: auto;
}
.project p{
    display: block;
    position: relative;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}
.skill-page-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    width: 50%
}
.skill-page-text h1 {
    color: #4bccd6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 56px;
}
.skill-page-text h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.skill-page-text li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15 px;
}

